
.slash {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 500px 500px;
    border-color: transparent transparent #853337 transparent;
    position: fixed;
    right: 0;
    bottom: 0;
}

.homeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.whiteSlash {
    width: 350px;
    height: 1380px;
    background-color: white;
    transform: rotate(0.125turn);
    position: fixed;
    right: 200px;
    bottom: -350px;
}

#yui {
    width: 64%;
    z-index: 2;
    position: absolute;
    right: -3%;
}


#yuiHidden {
    display: none;
    right: -3%
}

.coverText {
    color: white;
    font-size: 2.2rem;
    width: 700px;
    align-self: center;
    margin-left: 5rem;
    z-index: 2;
}

.textHidden {
    display: none;
    color: white;
    font-size: 2.2rem;
    width: 700px;
    align-self: center;
    margin-left: 5rem;
    z-index: 2;
}

.coverText button {
    padding: 0.6rem 2.2rem;
    font-weight: 500;
    border-radius: 20px;
    background-color: #ffdd53;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 1500px) {
    
    #yui {
        width: 72%;
        right: -14%;
    }
    
    .coverText {
        margin-left: 3.3rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1075px) {
    
    #yui {
        width: 80%;
        right: -25%;
    }


    .whiteSlash {
        width: 200px;
        right: 280px;
    }

    .slash {
        border-width: 0 0 580px 580px;
    }

    .coverText {
        margin-left: 1.8rem;
        font-size: 2rem;
        width: 680px;
    }
}



@media screen and (max-width: 950px) {

    .coverText {
        width: 500px;
        margin-left: 4.5rem;
    }

    #yui {
        top: 100px;
        right: -30%;
    }
}

@media screen and (max-width: 740px) {

    #yui {
       width: 90%;
       right: -35%;
    }

    .coverText {
        width: 390px;
        margin-left: 2.5rem;
        font-size: 1.5rem;
    }


    .coverText button {
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }
}



@media screen and (max-width: 570px) {

    .homeContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }

    #yui {
        width: 70%;
        margin: auto;
        position: static;
        margin-top: -60px;
    }

    .whiteSlash {
        display: none;
    }

    .slash {
        display: none;
    }

    .coverText {
        text-align: center;
        width: 70%;
        font-size: 1.1rem;
        margin: auto;
    }
}



