html {
  box-sizing: border-box;
  background-color: #3E3030;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins';
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


